<h1>My Shelf</h1>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 

<form method="POST" action="">
    {% csrf_token %}
    <p>Review for {{title}} </p>
    <input name="review" placeholder="review goes here..."/>
    <label for="rating">How many stars?</label>
    <select id="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="submit" value="Create Book Review" />
</form>
