<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Book Recommender :)
                    </h1>
                    <br>
                    <h2 class="subtitle">Alicia Lu & May Xiao</h2>
                    <img src="https://branding.web-resources.upenn.edu/sites/default/files/UniversityofPennsylvania_FullLogo_RGB_0.png" height=100 width=300/>
                </div>
                <div class="container">
                    <br/>
                    <form action="/login">
                        <input type="submit" value="Enter" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>